.env
__pycache__/
*.pyc
output/
logs/
index/
.venv/
.idea/
/WORKFLOW.md
/data/Про затвердження Положення про відкритий банкінг в Україні - Постанова № 80 від 25.07.2025 - d546967-20250725 (1).pdf
/data/Про платіжні послуги - Закон № 1591-IX від 30.06.2021 - d507668-20251226.pdf
